{% extends 'base.html.twig' %}
{% block content %}
    {% for student in students %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ 'name.firstname'|trans|replace({'%firstname%': student.firstname, '%name%': student.name}) }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ student.birthdate|date('birthdate.format'|trans) }}</h6>
                <a href="{{ path('edit_student', {id: student.id}) }}" class="card-link">{{ 'edit.student.link' | trans }}</a>
                {#<a href="{{ path('add_grade') }}" class="card-link">{{ 'add.grade.link' | trans }}</a>#}
            </div>
        </div>
    {% endfor %}
{% endblock %}